<div class="outer">

  <div class="inner">


    <div class="form-out">

      <div class="form-inner">

        <form [formGroup]="addForm" (ngSubmit)="onSubmit(addForm.value)">
          <div class="text-out">
            <div>
              Full Name * :
            </div>

            <div class="text-box">
              <input type="text" class="txt" formControlName="firstName" required>
              <div *ngIf="addForm.controls['firstName'].invalid && addForm.controls['firstName'].touched" class="error">
                <span *ngIf="addForm.controls['firstName'].errors?.required">Full Name is required</span>
                <span *ngIf="addForm.controls['firstName'].errors?.maxlength">Maximum 75 letters</span>
                <span *ngIf="addForm.controls['firstName'].errors?.pattern">Only alphabets allowed</span>
              </div>
            </div>

          </div>

          <div class="select-out">
            <div>
              Choos a car brand : <input placeholder="search"  class="txt" [(ngModel)]="searchText"  [ngModelOptions]="{standalone: true}"
              (ngModelChange)="applyFilter($event)">
            </div>

            <div class="select-box">
              <select class="txt" formControlName="brand"  multiple>
                <option *ngFor="let cars of showCarList">{{cars.brand}}</option>
              </select>
            </div>

          </div>

          <div class="select-out">
            <div class="show" >
              <div class="show-item" *ngFor="let item of multiArray"> {{item}}</div>
            </div>
            <div>
              Choos auto parts : <input placeholder="search" class="txt" [(ngModel)]="searchText"  [ngModelOptions]="{standalone: true}"
              (ngModelChange)="applyFilterparts($event)">
            </div>

            <div class="select-box-m">
              <select  class="txt" (change)="onCheckChange($event)" multiple>
                <option *ngFor="let parts of showautoParts" >{{parts.parts}}</option>
              </select>
            </div>
          </div>
        

          <button type="submit">Submit</button>
        </form>


      </div>

    </div>

    <div class="summary-out">

      <div class="summary-inner">

        <div>First Name : {{firstName}}</div>
        <div>Car Brand Name : {{brandName}}</div>
        <div>Auto Parts : 
          <span  *ngFor="let item of autoPartsDetails">{{item}} ,</span></div>

      </div>

    </div>



  </div>

</div>